<%= render 'layouts/nav' %>
<!-- MAIN SLIDER -->
	<div id="single-slider">
		<script type="text/javascript">
			$(document).ready(function(){
			  	jQuery('#single-slider').backstretch([
			      "http://unsplash.it/1200/400?random=1",
			    ], {duration: 8000, fade: 500});
		    });
		</script>
		<div class="single-slider-post-heading">		
			<div class="container">
	        	<div class="centered gap fade-down section-heading">
	        		<p><span class="author">Danny Jones</span> / <span class="category"><a href="#">Fashion</a></span> / <span class="date">22.08.2014</span></p>
	                <h2 class="main-title"><strong>Single Review Full Width</strong></h2>
	                <p class="small">3 <span>Comments</span></p>
	            </div> 
			</div>
		</div>
	</div>
    <!-- /MAIN SLIDER -->

	<!-- Main Content
	================================================== -->
   
	<!-- FOOTER
	================================================== -->
    <div class="footer-secondary" id="footer-twitter-feed">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <a href="#" class="pull-left" title="Twitter"><i class="fa fa-twitter"></i></a>
	                <script type="text/javascript">
                	jQuery(function($) {
                        $('.twitter-feed').twittie({
				            username: 'DistinctThemes',
				            apiPath: 'twitter/tweet.php',
				            dateFormat: '%b. %d, %Y',
				            template: '{{screen_name}} {{tweet}}',
				            count: 10
				        }, function () {
				            setInterval(function() {
				                var item = $('.twitter-feed ul').find('li:first');
				                item.animate( {marginLeft: '0px', 'opacity': '0'}, 500, function() {
				                    $(this).detach().appendTo('.twitter-feed ul').removeAttr('style');
				                });
				            }, 8000);
				        });
			         });
	                </script>
	            	<div class="twitter-feed"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-main">
        <div class="container">
            <div class="row">

                <div class="col-md-3 col-sm-3 col-xs-6">
                	<div class="widget big-items-widget">
                		<h2 class="widget-title"><strong>Featured</strong> Posts</h2>
		                <div class="blog-item fade-up">
		                    <div class="item-inner">
		                    	<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
		                        <img class="img-responsive" src="assets/img/footer/img_40.gif" alt="">                        
		                        <div class="overlay">
		                        	<h2>Metropolis</h2>
		                        	<p>Ultricies nec nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
		                        	<div class="overlay-metas">
		                        		<ul class="list-inline">
	                        				<li>
												<a class="overlay-share tooltip-me" href="http://twitter.com/share?url=_URL_amp;text=_ADDITIONAL_TEXT_amp;via=TWITTER_NAME" data-toggle="tooltip" data-placement="top" title="Share On Twitter"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a class="overlay-share tooltip-me" href="https://apis.google.com/_/+1/fastbutton?usegapi=1amp;size=largeamp;hl=enamp;url=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Google"><i class="fa fa-google-plus"></i></a>
											</li>
											<li>
		                        				<a class="overlay-share tooltip-me" href="http://www.facebook.com/plugins/like.php?href=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Facebook"><i class="fa fa-facebook"></i></a>
	                        				</li>
										</ul> 
			                            <a class="view-post" href="#">Read More</a>       
		                            </div>      
		                        </div>           
		                    </div>           
		                </div>
	                </div>

                	<div class="widget">
                		<h2 class="widget-title fade-down"><strong>Recent</strong> Comments</h2>
                		<div class="recent-comment-list">
                			<ul class="comment-list fade-up">
					            <li>
					                <div class="commenterImage">
				                  		<img alt="Avatar" src="http://lorempixel.com/50/50/people/1" />
					                </div>
					                <div class="commentText">
					                    <p class="">Over fact all son tell this any.</p>
					                    <span><strong>On <a href="#" title="Date Archive">25/10/2014</a> by <a href="#">Admin</a></strong></span>
					                </div>
					            </li>
					            <li>
					                <div class="commenterImage">
				                  		<img alt="Avatar" src="http://lorempixel.com/50/50/people/2" />
					                </div>
					                <div class="commentText">
					                    <p class="">Over fact all son tell this any.</p>
					                    <span><strong>On <a href="#" title="Date Archive">19/10/2014</a> by <a href="#">Admin</a></strong></span>
					                </div>
					            </li>
					            <li>
					                <div class="commenterImage">
				                  		<img alt="Avatar" src="http://lorempixel.com/50/50/people/3" />
					                </div>
					                <div class="commentText">
					                    <p class="">Over fact all son tell this any.</p>
					                    <span><strong>On <a href="#" title="Date Archive">10/10/2014</a> by <a href="#">Admin</a></strong></span>
					                </div>
					            </li>
					            <li>
					                <div class="commenterImage">
				                  		<img alt="Avatar" src="http://lorempixel.com/50/50/people/4" />
					                </div>
					                <div class="commentText">
					                    <p class="">Over fact all son tell this any.</p>
					                    <span><strong>On <a href="#" title="Date Archive">1/10/2014</a> by <a href="#">Admin</a></strong></span>
					                </div>
					            </li>
					            <li>
					                <div class="commenterImage">
				                  		<img alt="Avatar" src="http://lorempixel.com/50/50/people/5" />
					                </div>
					                <div class="commentText">
					                    <p class="">Over fact all son tell this any.</p>
					                    <span><strong>On <a href="#" title="Date Archive">10/09/2014</a> by <a href="#">Admin</a></strong></span>
					                </div>
					            </li>
					            <li>
					                <div class="commenterImage">
				                  		<img alt="Avatar" src="http://lorempixel.com/50/50/people/6" />
					                </div>
					                <div class="commentText">
					                    <p class="">Over fact all son tell this any.</p>
					                    <span><strong>On <a href="#" title="Date Archive">09/09/2014</a> by <a href="#">Admin</a></strong></span>
					                </div>
					            </li>
	        				</ul>
        				</div>
	                </div>

                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                	<div class="widget big-items-widget">
                		<h2 class="widget-title fade-down"><strong>Featured</strong> Posts</h2>
                		<div id="featured-posts-carousel-widget" class="carousel slide carousel-fade" data-ride="carousel">

							<div class="carousel-inner">
								<div class="item active">
					                <div class="blog-item fade-up">
					                    <div class="item-inner">
			                    			<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
					                        <img class="img-responsive" src="http://unsplash.it/800/500?random=1" alt="">                
					                        <div class="overlay">
					                        	<h2>Metropolis</h2>
					                        	<p>Nascetur ridiculus mus. Donec quam felis, ultricies nec nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
					                        	<div class="overlay-metas">
					                        		<ul class="list-inline">
				                        				<li>
															<a class="overlay-share" href="http://twitter.com/share?url=_URL_amp;text=_ADDITIONAL_TEXT_amp;via=TWITTER_NAME"><i class="fa fa-twitter"></i></a>
														</li>
														<li>
															<a class="overlay-share" href="https://apis.google.com/_/+1/fastbutton?usegapi=1amp;size=largeamp;hl=enamp;url=_URL_"><i class="fa fa-google-plus"></i></a>
														</li>
														<li>
					                        				<a class="overlay-share" href="http://www.facebook.com/plugins/like.php?href=_URL_"><i class="fa fa-facebook"></i></a>
				                        				</li>
													</ul> 
						                            <a class="view-post" href="#">Read More</a>       
					                            </div>        
					                        </div>           
					                    </div>        
					                </div>  
								</div>
								<div class="item">
					                <div class="blog-item fade-up">
					                    <div class="item-inner">
			                    	<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
					                        <img class="img-responsive" src="http://unsplash.it/800/500?random=2" alt="">	                        
					                        <div class="overlay">
					                        	<h2>Metropolis</h2>
					                        	<p>Nascetur ridiculus mus. Donec quam felis, ultricies nec nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
					                        	<div class="overlay-metas">
					                        		<ul class="list-inline">
				                        				<li>
															<a class="overlay-share tooltip-me" href="http://twitter.com/share?url=_URL_amp;text=_ADDITIONAL_TEXT_amp;via=TWITTER_NAME" data-toggle="tooltip" data-placement="top" title="Share On Twitter"><i class="fa fa-twitter"></i></a>
														</li>
														<li>
															<a class="overlay-share tooltip-me" href="https://apis.google.com/_/+1/fastbutton?usegapi=1amp;size=largeamp;hl=enamp;url=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Google"><i class="fa fa-google-plus"></i></a>
														</li>
														<li>
					                        				<a class="overlay-share tooltip-me" href="http://www.facebook.com/plugins/like.php?href=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Facebook"><i class="fa fa-facebook"></i></a>
				                        				</li>
													</ul>
						                            <a class="view-post" href="#">Read More</a>       
					                            </div>        
					                        </div>           
					                    </div>        
					                </div>  
								</div>
								<div class="item">
					                <div class="blog-item fade-up">
					                    <div class="item-inner">
			                    	<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
					                        <img class="img-responsive" src="http://unsplash.it/800/500?random=3" alt="">	                        
					                        <div class="overlay">
					                        	<h2>Metropolis</h2>
					                        	<p>Nascetur ridiculus mus. Donec quam felis, ultricies nec nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu.</p>
					                        	<div class="overlay-metas">
					                        		<ul class="list-inline">
				                        				<li>
															<a class="overlay-share tooltip-me" href="http://twitter.com/share?url=_URL_amp;text=_ADDITIONAL_TEXT_amp;via=TWITTER_NAME" data-toggle="tooltip" data-placement="top" title="Share On Twitter"><i class="fa fa-twitter"></i></a>
														</li>
														<li>
															<a class="overlay-share tooltip-me" href="https://apis.google.com/_/+1/fastbutton?usegapi=1amp;size=largeamp;hl=enamp;url=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Google"><i class="fa fa-google-plus"></i></a>
														</li>
														<li>
					                        				<a class="overlay-share tooltip-me" href="http://www.facebook.com/plugins/like.php?href=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Facebook"><i class="fa fa-facebook"></i></a>
				                        				</li>
													</ul>
						                            <a class="view-post" href="#">Read More</a>       
					                            </div>        
					                        </div>           
					                    </div>        
					                </div>  
								</div>
							</div>

						</div>

						<!-- Indicators -->
						<ol class="carousel-indicators footer-indicators">
							<li data-target="#featured-posts-carousel-widget" data-slide-to="0" class="active"></li>
							<li data-target="#featured-posts-carousel-widget" data-slide-to="1"></li>
							<li data-target="#featured-posts-carousel-widget" data-slide-to="2"></li>
						</ol>
					</div>

					<div class="widget about-widget fade-up">
                		<h2 class="widget-title fade-down"><strong>About</strong> Flatmag</h2>
                		<p>Fat new smallness few supposing suspicion two. Course sir people worthy horses add entire suffer. How one dull get busy dare far. At principle perfectly by sweetness do. As mr started arrival subject by believe. Strictly numerous outlived kindness whatever on we no on addition. </p>
            			<ul class="social-widget list-inline text-center">
		                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
		                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>                    
		                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>   
		                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>   
		                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>                   
		                    <li><a href="#"><i class="fa fa-pinterest"></i></a></li>   
		                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>   
		                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                		</ul>
            		</div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                	<div class="widget big-items-widget">
                		<h2 class="widget-title fade-down"><strong>Best</strong> Reviews</h2>
	                	<div class="blog-item review-item fade-up">
		                    <div class="item-inner">
		                        <div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
		                        <img class="img-responsive" src="assets/img/footer/img_44.gif" alt="">	
		                        <div class="review-score">
				    				<span data-fill="78%" style="width: 78%;"><span class="review-rating counter">7.8</span></span>
				    			</div>	                            
		                        <div class="overlay">
		                        	<h2>Metropolis</h2>
		                        	<p>Nascetur ridiculus mus. Donec quam felis, ultricies nec nascetur ridiculus mus. Donec quam felis.</p>
		                        	<div class="overlay-metas">
		                        		<ul class="list-inline">
	                        				<li>
												<a class="overlay-share tooltip-me" href="http://twitter.com/share?url=_URL_amp;text=_ADDITIONAL_TEXT_amp;via=TWITTER_NAME" data-toggle="tooltip" data-placement="top" title="Share On Twitter"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a class="overlay-share tooltip-me" href="https://apis.google.com/_/+1/fastbutton?usegapi=1amp;size=largeamp;hl=enamp;url=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Google"><i class="fa fa-google-plus"></i></a>
											</li>
											<li>
		                        				<a class="overlay-share tooltip-me" href="http://www.facebook.com/plugins/like.php?href=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Facebook"><i class="fa fa-facebook"></i></a>
	                        				</li>
										</ul> 
			                            <a class="view-post" href="#">Read More</a>       
		                            </div>      
		                        </div>           
		                    </div>        
		                </div>	
	                	<div class="blog-item review-item fade-up">
		                    <div class="item-inner">
		                   		<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
		                        <img class="img-responsive" src="assets/img/footer/img_48.gif" alt="">	
		                        <div class="review-score">
				    				<span data-fill="78%" style="width: 78%;"><span class="review-rating counter">7.8</span></span>
				    			</div>	                            
		                        <div class="overlay">
		                        	<h2>Travel Guide</h2>
		                        	<p>Nascetur ridiculus mus. Donec quam felis, ultricies nec nascetur ridiculus mus. Donec quam felis.</p>
		                        	<div class="overlay-metas">
		                        		<ul class="list-inline">
	                        				<li>
												<a class="overlay-share tooltip-me" href="http://twitter.com/share?url=_URL_amp;text=_ADDITIONAL_TEXT_amp;via=TWITTER_NAME" data-toggle="tooltip" data-placement="top" title="Share On Twitter"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a class="overlay-share tooltip-me" href="https://apis.google.com/_/+1/fastbutton?usegapi=1amp;size=largeamp;hl=enamp;url=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Google"><i class="fa fa-google-plus"></i></a>
											</li>
											<li>
		                        				<a class="overlay-share tooltip-me" href="http://www.facebook.com/plugins/like.php?href=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Facebook"><i class="fa fa-facebook"></i></a>
	                        				</li>
										</ul> 
			                            <a class="view-post" href="#">Read More</a>       
		                            </div>       
		                        </div>           
		                    </div>        
		                </div>	
	                	<div class="blog-item review-item fade-up">
		                    <div class="item-inner">
		                    	<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
		                        <img class="img-responsive" src="assets/img/footer/img_51.gif" alt="">	
		                        <div class="review-score">
				    				<span data-fill="78%" style="width: 78%;"><span class="review-rating counter">7.8</span></span>
				    			</div>	                            
		                        <div class="overlay">
		                        	<h2>New Band</h2>
		                        	<p>Nascetur ridiculus mus. Donec quam felis, ultricies nec nascetur ridiculus mus. Donec quam felis.</p>
		                        	<div class="overlay-metas">
		                        		<ul class="list-inline">
	                        				<li>
												<a class="overlay-share tooltip-me" href="http://twitter.com/share?url=_URL_amp;text=_ADDITIONAL_TEXT_amp;via=TWITTER_NAME" data-toggle="tooltip" data-placement="top" title="Share On Twitter"><i class="fa fa-twitter"></i></a>
											</li>
											<li>
												<a class="overlay-share tooltip-me" href="https://apis.google.com/_/+1/fastbutton?usegapi=1amp;size=largeamp;hl=enamp;url=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Google"><i class="fa fa-google-plus"></i></a>
											</li>
											<li>
		                        				<a class="overlay-share tooltip-me" href="http://www.facebook.com/plugins/like.php?href=_URL_" data-toggle="tooltip" data-placement="top" title="Share On Facebook"><i class="fa fa-facebook"></i></a>
	                        				</li>
										</ul> 
			                            <a class="view-post" href="#">Read More</a>       
		                            </div>        
		                        </div>           
		                    </div>        
		                </div>	
                	</div>
            	</div>

            </div>
        </div>
    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer class="footer-secondary">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 fade-up">
                    <p class="copyright pull-left">Copyright &copy; Distinctive Themes</p>
                    <p id="back-to-top" class="pull-right">To the top <a href="#"><i class="fa fa-angle-up"></i></a></p>
                </div>
            </div>
        </div>
    </footer>