<%= render 'layouts/nav' %>


	<!-- Main Content
	================================================== -->
    <div id="single-post">
    <div class="content-section">        

		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<%= image_tag('bmc-big.jpg', class: 'img-responsive', alt: 'Business Model Canvas') %>	
						<div class="single-post-heading gap">
				        	<div class="centered fade-up section-heading">
				        	<p>
				        		<a href="http://startupacademy.jsie.in/topics/week2/"> 
				        		<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"</span></a>
				        		<span class="author">Week 2</span> / 
				        		<span class="category">Startup Academy</span> / 
				        		<span class="date">Week 4</span>
				        		<a href="http://startupacademy.jsie.in/topics/week4/"> 
				        		<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"</span></a>
				        		</p>
				                <h2 class="main-title"><strong>Business Model Canvas</strong></h2>
				                <span class="author">Week 3</span>
				                
				            </div> 
						</div>
						<div class="charter">
						<div class="row gap">
							<div class="col-md-12 fade-up single-post-content">
								<p>The Business Model Canvas is a tool to help you develop and document the business model of your startup idea. In just one page this template captures the nine building blocks a business model. With increased popularity of the business model canvas, a common language has been created around these nine building blocks.  </p>

								<p><img class="alignright size-full wp-image-74530 img-responsive" src="assets/img/bmc.png" alt="Business-Model-Canvas-Annoted-760" width="760" height="487">
                   
                        		<h2 class="page-stitle"></h2>
                        		<a href="http://www.businessmodelgeneration.com/downloads/business_model_canvas_poster.pdf" target="_blank" class="btn btn-primary btn-lg">Download the Business Model Canvas</a></p>
                    			

								<h2>The Nine Building Blocks</h2>

								<p><strong>1. Customer Segments:</strong>: Who are the customers? What do they think? See? Feel? Do?<br>
								<strong>2. Value Propositions:</strong> What’s compelling about the proposition? Why do customers buy, use?<br>
								<strong>3. Channels:</strong> How are these propositions promoted, sold and delivered? Why? Is it working?<br>
								<strong>4. Customer Relationships:</strong> How do you interact with the customer through their ‘journey’?<br>
								<strong>5. Revenue Streams:</strong> How does the business earn revenue from the value propositions?<br>
								<strong>6. Key Activities:</strong> What uniquely strategic things does the business do to deliver its proposition?<br>
								<strong>7. Key Resources:</strong> What unique strategic assets must the business have to compete?<br>
								<strong>8. Key Partnerships:</strong> What can the company not do so it can focus on its Key Activities?<br>
								<strong>9. Cost Structure:</strong> What are the business’ major cost drivers? How are they linked to revenue?</p> 	

								<p><iframe width="560" height="315" src="https://www.youtube.com/embed/wwShFsSFb-Y" frameborder="0" allowfullscreen></iframe></p>			

							</div>
						<div class="fb-share-button" data-href="http://startupacademy.jsie.in/topics/week3/" data-layout="button_count"></div>
						</div>
					</div>
				</div>
							
	                <div id="single-sidebar" class="col-md-4 col-sm-4 hidden-xs">
		                <div id="single-sidebar-inner">
			                

		                	<div class="widget">
		                		<h2 class="widget-title fade-down"><strong>Featured</strong>Articles</h2>
		                		<div class="recent-comment-list">
		                			<ul class="comment-list fade-up">
							            <li>
							                <div class="commentText">
							                    <span><strong><a href="#" target="_blank"></a>The 30 Minute Business Plan: Business Model Canvas Made Easy</p>
							                    <span><strong></strong>by <a href="http://www.alexandercowan.com/business-model-canvas-templates/" target="_blank">Alex Cowan</a></strong></span>
							                </div>
							            </li>
							            <li>
							                <div class="commentText">
							                    <span><strong><a href="#"></a>How to Build a Startup: The Business Model Canvas</p><span><strong></strong>by <a href="https://www.udacity.com/course/viewer#!/c-ep245/l-48743167/m-48738150" target="_blank">Steve Blank</a></strong></span>
							                </div>
							            </li>
							            
			        				</ul>
		        				</div>
			                </div>
			                
		                	          <div class="widget big-items-widget">
		                		<h2 class="widget-title fade-down"><strong>Featured</strong>Resources</h2>
		                		<div id="featured-posts-carousel-widget-2" class="carousel slide carousel-fade" data-ride="carousel">

									<div class="carousel-inner">
										<div class="item active">
							                <div class="blog-item fade-up">
							                    <div class="item-inner">
		                    						<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
							                        <img class="img-responsive" src="assets/img/strategyzer.jpg" alt="Strategizer">	                        
							                        <div class="overlay">
							                        	<h2>Strategyzer</h2>
							                        	<p>Practical tools to help you understand customers, design better value propositions, and find the right business model.</p>
							                        	<div class="overlay-metas">
								                            <a class="post-date pull-left" href="#"></a>  
								                            <a class="view-post pull-right" href="https://strategyzer.com/" target="_blank">Learn More</a>       
							                            </div>      
							                        </div>           
							                    </div>        
							                </div>  
										</div>
										<div class="item">
							                <div class="blog-item fade-up">
							                    <div class="item-inner">
			                    					<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
							                        <img class="img-responsive" src="assets/img/leanstack.jpg" alt="Lean Stack">	                        
							                        <div class="overlay">
							                        	<h2>Lean Stack</h2>
							                        	<p>Tools, content and coaching for entrepreneurs</p>
							                        	<div class="overlay-metas">
								                            <a class="post-date pull-left" href="#"></a>  
								                            <a class="view-post pull-right" href="http://leanstack.com/">Read More</a>       
							                            </div>      
							                        </div>           
							                    </div>        
							                </div>  
										</div>
										
									</div>

								</div>
									
								<!-- Indicators -->
								<ol class="carousel-indicators footer-indicators">
									<li data-target="#featured-posts-carousel-widget-2" data-slide-to="0" class="active"></li>
									<li data-target="#featured-posts-carousel-widget-2" data-slide-to="1"></li>
									<li data-target="#featured-posts-carousel-widget-2" data-slide-to="2"></li>
								</ol>
							</div>                          
				                    </div>          
				                </div>	
		                	</div>
	                	</div>
	                </div>
                </div>
			</div>
		</div>
		</section>

    </div>