<%= render 'layouts/header' %>
<!-- Second Container -->
 		<div class="single-post-heading gap">
				        	<div class="centered fade-up section-heading">
				        		<div class="spacer-100"></div>
				        		<p>
				                <h1><strong>COMING SOON - Fundraising</strong></h1>
				                </p>
				                <div class="spacer-100"></div>
				                <div class="spacer-100"></div>
				                <div class="spacer-100"></div>
				            </div> 
</div>
</div>
  <script>mixpanel.track("Fundraising Blog View"); </script>