<%= render 'layouts/nav' %>
<!-- Main Content
	================================================== -->
    <div id="single-post">
    <div class="content-section">        
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<%= image_tag('greatidea-big.jpg', class: 'img-responsive', alt: 'Great Startup Idea') %>	
						<div class="single-post-heading gap">
				        	<div class="centered fade-up section-heading">
				        		<p>
				        		<span class="category">A Great Startup Idea</span>
				        		</p>
				                <span class="author">Week 1</span>
				            </div> 
						</div>
						<div class="charter">
						<div class="row gap">
							<div class="col-md-12 fade-up single-post-content">
								<br>
								<p><strong>“By far the most common mistake startups make is to solve problems no one has.” - Paul Graham</strong> </p>

								</p>A great way to think about startup ideas is to think about problems. Is your startup idea solving a worthwhile problem? How would you verify the problem exists? Problems can arise in many forms, as pain points, unmet needs, or frustrations. Starting with the problem is key to avoid wasting time working on a solution in search for a problem.  </p>

								<h2>Verifying the Problem</h2>

								<p>The best start-ups are those, which solve an existing problem that no one else has been able to solve yet. Facebook solved the problem of staying in touch and knowing what your friends and family are doing, Uber solved the problem for taxi drivers of knowing demand in real time, AirBnB solved the problem of making temporary housing more affordable in large cities and so on.</p> 

								<p>One way to verify whether your startup idea is solving a real problem is to discuss the idea with others and try to find, at least, a small group of people who urgently want what you would offer. Feedback from these potential users of your product or service is a key first step in the process. You should speak with them regularly and maintain a tight feedback loop as you develop your startup idea.</p>

								<h2>Great Startup Ideas</h2>
								<p>It's quite possible your first startup idea won’t pass the test above. How do you narrow in on ideas more likely to be great ideas?</p>

								<p>Walter Chen, in his article published on the Entrepreneur, talks about a test to check whether your idea is a good one or a great one. He said, “You shouldn’t make a product out of a problem for which you obtained ordinary results. That’s a good idea. You should choose as your startup idea the problem for which you achieved extraordinary results. That’s where you’ll find your great startup idea.”</p>

								<p>He also talks about famed entrepreneur Peter Thiel’s advice in respect to building a successful startup. Thiel spoke about how you can have the same idea as someone else, but that you must ensure that the execution is ten times better than all existing companies with that idea. “To Thiel, if your product isn’t 10 times better, it will be hard to sell in a crowded market.  You won’t be able to differentiate your product from existing solutions, plus customers won’t be willing to pay switching costs unless they’re getting a huge benefit.”</p>

								<p>While an idea is extremely important, it is vital to keep in mind that the execution and other aspects of a startup are more important. Paul Graham once said “What matters is not ideas, but the people who have them. Good people can fix bad ideas, but good ideas can’t save bad people.”  </p>

							</div>
						</div>
						<div class="fb-share-button" data-href="http://startupacademy.jsie.in/topics/week1/" data-layout="button_count"></div>
						</div>
					</div>
							
	                <div id="single-sidebar" class="col-md-4 col-sm-4 pull-left">
		                <div id="single-sidebar-inner">
			                

		                	<div class="widget">
		                		<h2 class="widget-title fade-down"><strong>Featured</strong>Articles</h2>
		                		<div class="recent-comment-list">
		                			<ul class="comment-list fade-up">
							            <li>
							                <div class="commentText">
							                    <span><strong><a href="#" target="_blank"></a>How to Get Startup Ideas</p>
							                    <span><strong></strong>by <a href="http://www.paulgraham.com/startupideas.html" target="_blank">Paul Graham, YCombinator</a></strong></span>
							                </div>
							            </li>
							            <li>
							                <div class="commentText">
							                    <span><strong><a href="#"></a>How to Choose Your Startup Idea</p><span><strong></strong>by <a href="http://sequoiacapital.tumblr.com/post/33921354769/how-to-choose-your-startup-idea" target="_blank">Sequoia Capital</a></strong></span>
							                </div>
							            </li>
							            <li>
							                <div class="commentText">
							                     <span><strong><a href="#"></a>The 10x Rule for Great Startup Ideas</p><span><strong></strong>by <a href="http://thenextweb.com/entrepreneur/2015/07/13/the-10x-rule-for-great-startup-ideas/" target="_blank">Walter Chen,Co-founder of iDoneThis</a></strong></span>
							                </div>
							            </li>
							            <li>
							            	<div class="commentText">
							                 	<span><strong><a href="#"></a>Before the Startup</p><span><strong></strong>by <a href="https://clip.mn/video/yt-ii1jcLg-eIQ" target="_blank">Paul Graham, YCombinator</a></strong></span>
							                </div>
							            </li>
							            <li>
							               <div class="commentText">
							                 	<span><strong><a href="#"></a>What Are The Best Ways To Think Of Ideas For A Startup?</p><span><strong></strong>by <a href="http://www.forbes.com/sites/quora/2013/05/08/what-are-the-best-ways-to-think-of-ideas-for-a-startup/" target="_blank">Dan Lewis, Head of Product at Wavii (acquired by Google)</a></strong></span>
							                </div>
							            </li>
							            <li>
							            <div class="commentText">
							                 	<span><strong><a href="#"></a>How To Start a Startup</p><span><strong></strong>by <a href="https://clip.mn/video/yt-CBYhVcO4WgI" target="_blank">Sam Altman, Dustin Moskovitz</a></strong></span>
							                </div>
							            </li>
			        				</ul>
		        				</div>
			                </div>
			               


		                	          <div class="widget big-items-widget">
		                		<h2 class="widget-title fade-down"><strong>Featured</strong>Resources</h2>
		                		<div id="featured-posts-carousel-widget-2" class="carousel slide carousel-fade" data-ride="carousel">

									<div class="carousel-inner">
													<div class="item active">
							                <div class="blog-item fade-up">
							                    <div class="item-inner">
			                    					<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
							                        <img class="img-responsive" src="assets/img/designkit.jpg" alt="Design Kit">	                        
							                        <div class="overlay">
							                        	<h2>IDEO.org Design Kit</h2>
							                        	<p>7 Rules to unlock the creative power of brainstorming</p>
							                        	<div class="overlay-metas">
								                            <a class="post-date pull-left" href="#"></a>  
								                            <a class="view-post pull-right" href="http://www.designkit.org/methods/28">Learn More</a>       
							                            </div>       
							                        </div>           
							                    </div>        
							                </div>  
										</div>
										<div class="item">
							                <div class="blog-item fade-up">
							                    <div class="item-inner">
			                    					<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
							                        <img class="img-responsive" src="assets/img/funders.jpg" alt="Founders and Funders">	                        
							                        <div class="overlay">
							                        	<h2>Funders and Founders</h2>
							                        	<p>Visual startup blog</p>
							                        	<div class="overlay-metas">
								                            <a class="post-date pull-left" href="#"></a>  
								                            <a class="view-post pull-right" href="http://fundersandfounders.com/">Read More</a>       
							                            </div>      
							                        </div>           
							                    </div>        
							                </div>  
										</div>
											<div class="item">
							                <div class="blog-item fade-up">
							                    <div class="item-inner">
		                    						<div class="item-icon-wrapper"><i class="pe-7s-close"></i></div>
							                        <img class="img-responsive" src="assets/img/yourstory.jpg" alt="Your Story">	                        
							                        <div class="overlay">
							                        	<h2>Your Story</h2>
							                        	<p>Media platform dedicated to passionately championing and promoting the entrepreneurial ecosystem in India.</p>
							                        	<div class="overlay-metas">
								                            <a class="post-date pull-left" href="#"></a>  
								                            <a class="view-post pull-right" href="http://yourstory.com/" target="_blank">Learn More</a>       
							                            </div>     
							                        </div>           
							                    </div>        
							                </div>  
										</div>
									</div>

								</div>
									
								<!-- Indicators -->
								<ol class="carousel-indicators footer-indicators">
									<li data-target="#featured-posts-carousel-widget-2" data-slide-to="0" class="active"></li>
									<li data-target="#featured-posts-carousel-widget-2" data-slide-to="1"></li>
									<li data-target="#featured-posts-carousel-widget-2" data-slide-to="2"></li>
								</ol>
							</div>                          
				                    </div>          
				                </div>	
		                	</div>
	                	</div>
	                </div>
                </div>
			</div>
		</div>
		</section>

    </div>

