  <!-- MAIN SLIDER -->
    <!-- Change the width and height values to suit you best -->
<div class="typeform-widget" data-url="https://jsie.typeform.com/to/sxJ86x" data-text="Startup Academy Application" style="width:100%;height:375px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
</div>
		  			
    <!-- /MAIN SLIDER -->

    <!-- Page Content -->
	    
    <!-- /.content-section -->

	<!-- FOOTER
	================================================== -->
   
    <!-- /.banner -->

    <!-- Footer -->
   
    <footer class="footer-secondary">
        <div class="container">
            <div class="row">
               <div class="col-md-4">
                    <p class="copyright pull-left"><strong>Powered by</strong><br> <a href="http://jsie.in/" target="_blank"></p> <br>
                    <%= image_tag('jsielogo1.jpg', class: 'img-rounded', alt: 'logo') %></div>
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                    <div class="fb-page" data-href="https://www.facebook.com/JSiEStartupAcademy" data-width="600" data-height="100" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/JSiEStartupAcademy"><a href="https://www.facebook.com/JSiEStartupAcademy">StartUp Academy</a></blockquote></div></div>
                </div>
            </div>
        </div>
    </footer>

