<div id="topbar-latest-posts" class="header-widgets-wrapper">
    	<div id="topbar-latest-posts-inner-fullwidth" class="hidden-sm hidden-xs">
    		<div class="row">
				<div class="full-header">
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
		                	<a href="single-post.html">
		                    	<img class="img-responsive" src="http://unsplash.it/360/310?random=3" alt="">
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Post</strong> Title</h3>
		                    	</div>
		                    </a>                                  
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
		               		<a href="single-post.html">
		                    	<img class="img-responsive" src="http://unsplash.it/360/310?random=4" alt="">
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Post</strong> Title</h3>
		                    	
		                    	</div>
	                    	</a>                                 
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
			                <a href="single-post.html">
			                    <img class="img-responsive" src="http://unsplash.it/360/310?random=5" alt="">
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Post</strong> Title</h3>
		                    		
		                    	</div>
		                    </a>                               
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
		                	<a href="single-post.html">
		                    	<img class="img-responsive" src="http://unsplash.it/360/310?random=6" alt="">	
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Post</strong> Title</h3>
		                    		
		                    	</div>
	                    	</a>                               
		                </div>        
	                </div>
	                <div class="blog-item nopadding-lr col-md-3 fade-up">
		                <div class="item-inner">
	                		<a href="single-post.html">
		                    	<img class="img-responsive" src="http://unsplash.it/360/310?random=75" alt="">
		                    	<div class="header-lg-overlay">
		                    		<h3><strong>Post</strong> Title</h3>
		                    		
		                    	</div>
	                    	</a>                              
		                </div>        
	                </div>
				</div>
	        </div>
    	</div>
    </div>