   <footer class="footer-secondary">
        <div class="container">
               <div class="col-sm-12 text-center">
                        <a href="http://jsie.in/" target="_blank">
                        <%= image_tag('jsielogo1.jpg', class: 'img-rounded', alt: 'logo') %><br><br>
                                    An initiative of the Jindal Centre for Social Innovation & Entreprenuership
                                </div>
            </div>
        </div>
    </footer>