   <footer class="footer-secondary">
        <div class="container">
              <div class="col-sm-12 text-center">
                    <strong>Powered by</strong><br> <a href="http://jsie.in/" target="_blank">
                    <%= image_tag('jsielogo1.jpg', class: 'img-rounded', alt: 'logo') %></div>
            </div>
        </div>
    </footer>